[named expressions]
all files = .*
word (doc, docx) = .+\.docx?$
excel (xls, xlsx, xlsb, xlsm) = .+\.xls(x|b|m)?
audio (mp3, wav, au, m4p, etc.) = .+\.(m4p|cdda|mp3|wma|mp4a|au|ra|flac|cda|wav|m4a)$
pdf files = .+\.pdf$
visio (vsd, vsdx, vss, vst, vsx, vdx, vtx) = .+\.(vs(d|s|t|x)|v(d|t)x|vsdx)$
images (png, gif, jpg, bmp, tif, ico, svg) = .+\.(png|gif|jpg|bmp|tif|ico|svgx?)$
word/excel/pdf files = .+\.(xls(x|m|b)?|docx?|pdf)$
video (avi, wmv, mpg, mp4, etc.) = .+\.(avi|wmv|qt|mov|mp(4|e?g|v)|m4p|flv|rm|webm)$
numeric file names = ^[0-9_\-\.]+\.(xls(x|m|b)?|docx?|pdf|shp|dbf|shx|xml|txt|csv|bmp|sql|gif|png|jpg|tif|py|x?html?|vb|cp*)$
batch files = .+\.bat$
any ole file = .*

[regex url]
cheatsheet = https://pythex.org

[last path]
last = C:/Users/WThaman/Desktop/AWWA

